In [43]:
import pandas as pd
import os.path

In [3]:
#get the data from file into a table
file = 'C:\\Users\\ischool-user\\Downloads\\co2_hawaii.txt'
col_name = ['site_code', 'year', 'month', 'day', 'hour', 'minute', 'second', 'value', 'value_unc', 'nvalue', 'latitude', 'longitude', 'altitude', 'elevation', 'intake_height', 'instrument', 'qcflag']
data1 = pd.read_table(file, comment='#', delim_whitespace=True, names=col_name)
print(data1.head())

  site_code  year  month  day  hour  minute  second   value  value_unc  \
0       MLO  1973      1    1     0       0       0 -999.99     -99.99
1       MLO  1973      1    2     0       0       0 -999.99     -99.99
2       MLO  1973      1    3     0       0       0 -999.99     -99.99
3       MLO  1973      1    4     0       0       0 -999.99     -99.99
4       MLO  1973      1    5     0       0       0 -999.99     -99.99

   nvalue  latitude  longitude  altitude  elevation  intake_height  \
0       0    19.536   -155.576    3437.0     3397.0           40.0
1       0    19.536   -155.576    3437.0     3397.0           40.0
2       0    19.536   -155.576    3437.0     3397.0           40.0
3       0    19.536   -155.576    3437.0     3397.0           40.0
4       0    19.536   -155.576    3437.0     3397.0           40.0

   instrument qcflag
0         NaN    *..
1         NaN    *..
2         NaN    *..
3         NaN    *..
4         NaN    *..

In [4]:
#function to parse the -999.99 values for further calculations
def clean_data(df):
    if df['qcflag'] == '*..':
        return 0
    else:
        return df['value']

In [5]:
#calling the clean_data function
data1['value']=data1.apply(clean_data,axis=1)

In [8]:
#forming dictionary for storing yearwise C02 level values
d = {}
for i in data1['year'].unique():
    d[i] = [data1['value'][j].round(2) for j in data1[data1['year']==i].index]

In [18]:
#calculating mean C02 levels for each year
mean_dic = {}
for key,val in d.items():
    mean_dic[key] = (sum(val)/len(val)).round(2)

In [19]:
#calculating max C02 values for each year
max_dic = {}
for key,val in d.items():
    max_dic[key] = (max(val)).round(2)

In [20]:
mean_data = pd.DataFrame(list(mean_dic.items()), columns=['Year', 'Hawaii_Mean_Value'])
max_data  = pd.DataFrame(list(max_dic.items()), columns=['Year', 'Hawaii_Max_Value'])

In [21]:
hawaii_df=pd.merge(mean_data,max_data,how='left',on='Year')
hawaii_df

    Year  Hawaii_Mean_Value  Hawaii_Max_Value
0   1973               0.00              0.00
1   1974             175.16            333.64
2   1975             230.61            334.63
3   1976             215.03            336.73
4   1977             235.06            337.64
5   1978             246.29            338.87
6   1979             246.29            340.24
7   1980             253.66            342.38
8   1981             285.12            343.42
9   1982             259.97            345.12
10  1983             250.10            346.49
11  1984             186.50            348.33
12  1985             237.04            349.92
13  1986             237.88            351.14
14  1987             259.32            352.65
15  1988             300.67            354.92
16  1989             303.85            356.72
17  1990             316.59            358.10
18  1991             325.47            360.46
19  1992             320.40            360.63
20  1993             323.89            361.14
21  1994             323.51            362.74
22  1995             331.20            365.04
23  1996             339.87            366.00
24  1997             326.84            368.02
25  1998             337.57            370.63
26  1999             322.90            372.23
27  2000             324.14            373.34
28  2001             330.41            375.36
29  2002             341.59            376.58
30  2003             336.70            380.17
31  2004             315.75            381.58
32  2005             322.71            383.79
33  2006             327.48            385.68
34  2007             317.60            387.83
35  2008             317.05            390.63
36  2009             349.21            391.32
37  2010             351.39            394.02
38  2011             362.68            395.83
39  2012             368.05            397.78
40  2013             349.76            400.63
41  2014             334.26            402.71
42  2015             359.13            404.65
43  2016             355.65            409.34

In [23]:
hawaii_df['%HawaiiChange'] = ((hawaii_df['Hawaii_Mean_Value'] - (hawaii_df['Hawaii_Mean_Value'].shift(1) - 1))/(hawaii_df['Hawaii_Mean_Value'].shift(1) - 1)).fillna(0)

In [17]:
hawaii_df

    Year  Mean_Value  Max_Value     %Change
0   1973        0.00       0.00    0.000000
1   1974      175.16     333.64 -176.160000
2   1975      230.61     334.63    0.324127
3   1976      215.03     336.73   -0.063499
4   1977      235.06     337.64    0.098257
5   1978      246.29     338.87    0.052252
6   1979      246.29     340.24    0.004077
7   1980      253.66     342.38    0.034123
8   1981      285.12     343.42    0.128473
9   1982      259.97     345.12   -0.084999
10  1983      250.10     346.49   -0.034251
11  1984      186.50     348.33   -0.251305
12  1985      237.04     349.92    0.277844
13  1986      237.88     351.14    0.007795
14  1987      259.32     352.65    0.094732
15  1988      300.67     354.92    0.163944
16  1989      303.85     356.72    0.013949
17  1990      316.59     358.10    0.045369
18  1991      325.47     360.46    0.031306
19  1992      320.40     360.63   -0.012544
20  1993      323.89     361.14    0.014058
21  1994      323.51     362.74    0.001920
22  1995      331.20     365.04    0.026945
23  1996      339.87     366.00    0.029285
24  1997      326.84     368.02   -0.035500
25  1998      337.57     370.63    0.035999
26  1999      322.90     372.23   -0.040616
27  2000      324.14     373.34    0.006959
28  2001      330.41     375.36    0.022498
29  2002      341.59     376.58    0.036975
30  2003      336.70     380.17   -0.011421
31  2004      315.75     381.58   -0.059428
32  2005      322.71     383.79    0.025290
33  2006      327.48     385.68    0.017935
34  2007      317.60     387.83   -0.027199
35  2008      317.05     390.63    0.001421
36  2009      349.21     391.32    0.104920
37  2010      351.39     394.02    0.009132
38  2011      362.68     395.83    0.035075
39  2012      368.05     397.78    0.017612
40  2013      349.76     400.63   -0.047105
41  2014      334.26     402.71   -0.041576
42  2015      359.13     404.65    0.077627
43  2016      355.65     409.34   -0.006925

In [24]:
#Repeating the same procedure for Alaska dataset

In [25]:
#get the data from file into a table
file = 'C:\\Users\\ischool-user\\Downloads\\co2_alaska.txt'
col_name = ['site_code', 'year', 'month', 'day', 'hour', 'minute', 'second', 'value', 'value_unc', 'nvalue', 'latitude', 'longitude', 'altitude', 'elevation', 'intake_height', 'instrument', 'qcflag']
data2 = pd.read_table(file, comment='#', delim_whitespace=True, names=col_name)
print(data2.head())

  site_code  year  month  day  hour  minute  second   value  value_unc  \
0       BRW  1973      1    1     0       0       0 -999.99     -99.99
1       BRW  1973      1    2     0       0       0 -999.99     -99.99
2       BRW  1973      1    3     0       0       0 -999.99     -99.99
3       BRW  1973      1    4     0       0       0 -999.99     -99.99
4       BRW  1973      1    5     0       0       0 -999.99     -99.99

   nvalue  latitude  longitude  altitude  elevation  intake_height  \
0       0    71.323   -156.611      27.0       11.0           16.0
1       0    71.323   -156.611      27.0       11.0           16.0
2       0    71.323   -156.611      27.0       11.0           16.0
3       0    71.323   -156.611      27.0       11.0           16.0
4       0    71.323   -156.611      27.0       11.0           16.0

   instrument qcflag
0         NaN    *..
1         NaN    *..
2         NaN    *..
3         NaN    *..
4         NaN    *..

In [26]:
#calling the clean_data function
data2['value']=data2.apply(clean_data,axis=1)

In [27]:
e = {}
for i in data2['year'].unique():
    e[i] = [data2['value'][j].round(2) for j in data2[data2['year']==i].index]

In [28]:
#calculating mean C02 levels for each year
mean_dic2 = {}
for key,val in e.items():
    mean_dic2[key] = (sum(val)/len(val)).round(2)

In [30]:
#calculating max C02 values for each year
max_dic2 = {}
for key,val in e.items():
    max_dic2[key] = (max(val)).round(2)

In [31]:
mean_data2 = pd.DataFrame(list(mean_dic2.items()), columns=['Year', 'Alaska_Mean_Value'])
max_data2  = pd.DataFrame(list(max_dic2.items()), columns=['Year', 'Alaska_Max_Value'])

In [32]:
alaska_df=pd.merge(mean_data2,max_data2,how='left',on='Year')
alaska_df

    Year  Alaska_Mean_Value  Alaska_Max_Value
0   1973             128.08            339.78
1   1974             269.77            340.21
2   1975             254.10            343.09
3   1976             248.37            338.84
4   1977             315.68            342.00
5   1978             302.09            343.36
6   1979             303.13            344.21
7   1980             214.86            347.27
8   1981             311.98            348.65
9   1982             303.60            351.49
10  1983             320.64            353.00
11  1984             306.66            353.37
12  1985             323.34            354.95
13  1986             309.91            355.85
14  1987             322.31            356.13
15  1988             310.98            360.54
16  1989             277.39            364.24
17  1990             317.02            363.51
18  1991             317.69            370.37
19  1992             350.05            365.16
20  1993             304.63            364.73
21  1994             337.69            369.61
22  1995             344.58            372.87
23  1996             340.41            371.10
24  1997             331.22            372.72
25  1998             334.77            376.40
26  1999             349.49            376.55
27  2000             330.65            379.14
28  2001             343.36            379.53
29  2002             280.13            381.25
30  2003             345.81            387.12
31  2004             337.29            385.72
32  2005             367.82            388.57
33  2006             346.84            390.53
34  2007             366.29            392.34
35  2008             335.09            396.01
36  2009             374.66            396.47
37  2010             365.49            399.17
38  2011             349.10            403.81
39  2012             343.68            403.20
40  2013             360.12            408.07
41  2014             377.92            409.08
42  2015             392.00            409.99
43  2016             367.32            412.46

In [33]:
alaska_df['%AlaskaChange'] = ((alaska_df['Alaska_Mean_Value'] - (alaska_df['Alaska_Mean_Value'].shift(1) - 1))/(alaska_df['Alaska_Mean_Value'].shift(1) - 1)).fillna(0)

In [34]:
alaska_df

    Year  Alaska_Mean_Value  Alaska_Max_Value  %AlaskaChange
0   1973             128.08            339.78       0.000000
1   1974             269.77            340.21       1.122836
2   1975             254.10            343.09      -0.054582
3   1976             248.37            338.84      -0.018688
4   1977             315.68            342.00       0.276145
5   1978             302.09            343.36      -0.040009
6   1979             303.13            344.21       0.006775
7   1980             214.86            347.27      -0.288849
8   1981             311.98            348.65       0.458805
9   1982             303.60            351.49      -0.023731
10  1983             320.64            353.00       0.059617
11  1984             306.66            353.37      -0.040608
12  1985             323.34            354.95       0.057842
13  1986             309.91            355.85      -0.038562
14  1987             322.31            356.13       0.043378
15  1988             310.98            360.54      -0.032150
16  1989             277.39            364.24      -0.105136
17  1990             317.02            363.51       0.147002
18  1991             317.69            370.37       0.005284
19  1992             350.05            365.16       0.105340
20  1993             304.63            364.73      -0.127260
21  1994             337.69            369.61       0.112176
22  1995             344.58            372.87       0.023434
23  1996             340.41            371.10      -0.009226
24  1997             331.22            372.72      -0.024130
25  1998             334.77            376.40       0.013779
26  1999             349.49            376.55       0.047098
27  2000             330.65            379.14      -0.051192
28  2001             343.36            379.53       0.041590
29  2002             280.13            381.25      -0.181768
30  2003             345.81            387.12       0.238885
31  2004             337.29            385.72      -0.021809
32  2005             367.82            388.57       0.093758
33  2006             346.84            390.53      -0.054468
34  2007             366.29            392.34       0.059131
35  2008             335.09            396.01      -0.082674
36  2009             374.66            396.47       0.121434
37  2010             365.49            399.17      -0.021865
38  2011             349.10            403.81      -0.042223
39  2012             343.68            403.20      -0.012698
40  2013             360.12            408.07       0.050893
41  2014             377.92            409.08       0.052350
42  2015             392.00            409.99       0.040008
43  2016             367.32            412.46      -0.060563

In [36]:
#Merge Hawaii and Alaska dataframes
combined_df=pd.merge(hawaii_df,alaska_df,how='left',on='Year')
combined_df

,Year,Hawaii_Mean_Value,Hawaii_Max_Value,%HawaiiChange,Alaska_Mean_Value,Alaska_Max_Value,%AlaskaChange
0,1973,0.00,0.00,0.000000,128.08,339.78,0.000000
1,1974,175.16,333.64,-176.160000,269.77,340.21,1.122836
2,1975,230.61,334.63,0.324127,254.10,343.09,-0.054582
3,1976,215.03,336.73,-0.063499,248.37,338.84,-0.018688
4,1977,235.06,337.64,0.098257,315.68,342.00,0.276145
5,1978,246.29,338.87,0.052252,302.09,343.36,-0.040009
6,1979,246.29,340.24,0.004077,303.13,344.21,0.006775
7,1980,253.66,342.38,0.034123,214.86,347.27,-0.288849
8,1981,285.12,343.42,0.128473,311.98,348.65,0.458805
9,1982,259.97,345.12,-0.084999,303.60,351.49,-0.023731
10,1983,250.10,346.49,-0.034251,320.64,353.00,0.059617
11,1984,186.50,348.33,-0.251305,306.66,353.37,-0.040608
12,1985,237.04,349.92,0.277844,323.34,354.95,0.057842
13,1986,237.88,351.14,0.007795,309.91,355.85,-0.038562
14,1987,259.32,352.65,0.094732,322.31,356.13,0.043378
15,1988,300.67,354.92,0.163944,310.98,360.54,-0.032150
16,1989,303.85,356.72,0.013949,277.39,364.24,-0.105136
17,1990,316.59,358.10,0.045369,317.02,363.51,0.147002
18,1991,325.47,360.46,0.031306,317.69,370.37,0.005284
19,1992,320.40,360.63,-0.012544,350.05,365.16,0.105340
20,1993,323.89,361.14,0.014058,304.63,364.73,-0.127260
21,1994,323.51,362.74,0.001920,337.69,369.61,0.112176
22,1995,331.20,365.04,0.026945,344.58,372.87,0.023434
23,1996,339.87,366.00,0.029285,340.41,371.10,-0.009226
24,1997,326.84,368.02,-0.035500,331.22,372.72,-0.024130
25,1998,337.57,370.63,0.035999,334.77,376.40,0.013779
26,1999,322.90,372.23,-0.040616,349.49,376.55,0.047098
27,2000,324.14,373.34,0.006959,330.65,379.14,-0.051192
28,2001,330.41,375.36,0.022498,343.36,379.53,0.041590
29,2002,341.59,376.58,0.036975,280.13,381.25,-0.181768
30,2003,336.70,380.17,-0.011421,345.81,387.12,0.238885
31,2004,315.75,381.58,-0.059428,337.29,385.72,-0.021809
32,2005,322.71,383.79,0.025290,367.82,388.57,0.093758
33,2006,327.48,385.68,0.017935,346.84,390.53,-0.054468
34,2007,317.60,387.83,-0.027199,366.29,392.34,0.059131
35,2008,317.05,390.63,0.001421,335.09,396.01,-0.082674
36,2009,349.21,391.32,0.104920,374.66,396.47,0.121434
37,2010,351.39,394.02,0.009132,365.49,399.17,-0.021865
38,2011,362.68,395.83,0.035075,349.10,403.81,-0.042223
39,2012,368.05,397.78,0.017612,343.68,403.20,-0.012698
40,2013,349.76,400.63,-0.047105,360.12,408.07,0.050893
41,2014,334.26,402.71,-0.041576,377.92,409.08,0.052350
42,2015,359.13,404.65,0.077627,392.00,409.99,0.040008
43,2016,355.65,409.34,-0.006925,367.32,412.46,-0.060563

Output DataFrame

In [37]:
combined_df.set_index('Year', inplace=True)
combined_df

,Hawaii_Mean_Value,Hawaii_Max_Value,%HawaiiChange,Alaska_Mean_Value,Alaska_Max_Value,%AlaskaChange
Year,,,,,,
1973,0.00,0.00,0.000000,128.08,339.78,0.000000
1974,175.16,333.64,-176.160000,269.77,340.21,1.122836
1975,230.61,334.63,0.324127,254.10,343.09,-0.054582
1976,215.03,336.73,-0.063499,248.37,338.84,-0.018688
1977,235.06,337.64,0.098257,315.68,342.00,0.276145
1978,246.29,338.87,0.052252,302.09,343.36,-0.040009
1979,246.29,340.24,0.004077,303.13,344.21,0.006775
1980,253.66,342.38,0.034123,214.86,347.27,-0.288849
1981,285.12,343.42,0.128473,311.98,348.65,0.458805
1982,259.97,345.12,-0.084999,303.60,351.49,-0.023731
1983,250.10,346.49,-0.034251,320.64,353.00,0.059617
1984,186.50,348.33,-0.251305,306.66,353.37,-0.040608
1985,237.04,349.92,0.277844,323.34,354.95,0.057842
1986,237.88,351.14,0.007795,309.91,355.85,-0.038562
1987,259.32,352.65,0.094732,322.31,356.13,0.043378
1988,300.67,354.92,0.163944,310.98,360.54,-0.032150
1989,303.85,356.72,0.013949,277.39,364.24,-0.105136
1990,316.59,358.10,0.045369,317.02,363.51,0.147002
1991,325.47,360.46,0.031306,317.69,370.37,0.005284
1992,320.40,360.63,-0.012544,350.05,365.16,0.105340
1993,323.89,361.14,0.014058,304.63,364.73,-0.127260
1994,323.51,362.74,0.001920,337.69,369.61,0.112176
1995,331.20,365.04,0.026945,344.58,372.87,0.023434
1996,339.87,366.00,0.029285,340.41,371.10,-0.009226
1997,326.84,368.02,-0.035500,331.22,372.72,-0.024130
1998,337.57,370.63,0.035999,334.77,376.40,0.013779
1999,322.90,372.23,-0.040616,349.49,376.55,0.047098
2000,324.14,373.34,0.006959,330.65,379.14,-0.051192
2001,330.41,375.36,0.022498,343.36,379.53,0.041590
2002,341.59,376.58,0.036975,280.13,381.25,-0.181768
2003,336.70,380.17,-0.011421,345.81,387.12,0.238885
2004,315.75,381.58,-0.059428,337.29,385.72,-0.021809
2005,322.71,383.79,0.025290,367.82,388.57,0.093758
2006,327.48,385.68,0.017935,346.84,390.53,-0.054468
2007,317.60,387.83,-0.027199,366.29,392.34,0.059131
2008,317.05,390.63,0.001421,335.09,396.01,-0.082674
2009,349.21,391.32,0.104920,374.66,396.47,0.121434
2010,351.39,394.02,0.009132,365.49,399.17,-0.021865
2011,362.68,395.83,0.035075,349.10,403.81,-0.042223
2012,368.05,397.78,0.017612,343.68,403.20,-0.012698
2013,349.76,400.63,-0.047105,360.12,408.07,0.050893
2014,334.26,402.71,-0.041576,377.92,409.08,0.052350
2015,359.13,404.65,0.077627,392.00,409.99,0.040008
2016,355.65,409.34,-0.006925,367.32,412.46,-0.060563

Mean Percent Change For Hawaii and Alaska....

In [41]:
hawaii_perc_mean=combined_df['%HawaiiChange'].mean()
alaska_perc_mean=combined_df['%AlaskaChange'].mean()
hawaii_perc_mean

-3.9803742744653317

In [42]:
alaska_perc_mean

0.04194025556094086

In [44]:
#writing the final output to file
base_filename = 'Output.txt'
with open(os.path.join('C:\\Users\\ischool-user\\Downloads', base_filename),'w') as outfile:
    combined_df.to_string(outfile)

---------------------------------------------Done------------------------------------------------------------